.odd{
    display: flex;
    gap: 1.5em;
}
body{
    background: #23bf88;  
    background: -webkit-linear-gradient(to right, #373e24, #2b6337, #11290c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243e2d, #2b634d, #4b9e56); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
  }