

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

body{
  background: #23bf88;  
  background: -webkit-linear-gradient(to right, #373e24, #2b6337, #11290c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243e2d, #2b634d, #4b9e56); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.register{
  width: 1000px;
  display:flex;
  border: 1px solid #e9ecef;
  border-radius: 120px;
  box-shadow: 1px 3px 10px #23bf88; 
  background-color: rgb(255, 253, 253);
}



.register span{
  color: #adb5bd;
}


.form{
  max-width: 350px;
  width: 100vw;
  margin: 2em auto;
}

#form >  input, 

.btn{
  border: 2px solid #8ef4f6;
  padding: .4em 1em;
}

#form > input:focus{
  outline: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
}
#form > 
.btn{
  background-color: #003049;
  color: #ffffff;
  font-size: 1em;
  cursor: pointer;
}


.flex{
  display: flex;
  gap: 1em;
}

.flex-col{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2svmin);
  color: rgb(201, 42, 42);
}

.App-link {
  color: #61dafb; 
}

.register .col-1{
  margin: auto;
  padding: 3em 0;
}




.register .col-2 img{
  width: 680px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

@media screen and (min-width: 100px)  {
  .register .col-2 img{
    display: initial;
  }
}

.sign
{
  color: #23bf88;
}







